* {
    font-family: "Corbel", sans-serif;
    font-size: 20pt;
    text-decoration: none;
    color: black;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 4vh;
}

h3 {
    font-size: 1.6vw;
    color: grey;
}

p {
    font-size: 2.5vh;
    text-align: justify;
    padding-bottom: 2%;
    padding-top: 2%;
}

li {
    list-style: none;
}

a:hover {
    color: violet;
}

/*header */
header {
    background-image: url("./Plant Leaf.jpg");
    height: 50vh;
    max-width: auto;
    background-position: right;
    background-size: 45%;
    background-repeat: no-repeat;
    border-bottom: 0.2rem solid;
    border-image: linear-gradient(45deg, white, lightgrey) 1;
}

header>p {
    background-color: none;
    width: 40vw;
    padding-left: 5%;
}

header nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    /*border-bottom: 0.2rem solid;
    border-image: linear-gradient(45deg, white, lightgrey) 1;*/
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
}

header nav li {
    list-style: none;
}

header a {
    font-size: 2.8vh;
    color: rgb(51, 63, 57);
}

#menu-icon {
    visibility: hidden;
}

#title {
    font-family: "Curlz MT";
    font-size: 8vh;
    position: relative;
    top: 45%;
    width: 40vw;
    padding-left: 5%;
}

/*main*/
section {
    display: flex;
    flex-direction: flow;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

section div {
    padding-top: 5%;
    padding-bottom: 5%,

}

article,
#uebermich {
    display: flex;
    flex-direction: column;
    width: 70%;

}

/*aside*/
aside, .hoverwrap {
    width: 40%;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#aside-title {
    font-size: 1vw;
    color: rgb(51, 63, 57);
    text-align: center;
    padding-bottom: 5%;
}

aside ul {
    padding: 8% 0% 8% 0%;
    background-color: rgba(174, 204, 189, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    width: 25vw;
    border-radius: 3%;
    box-shadow: 2px 2px 2px 0px rgb(107, 112, 116);
}

aside ul li {
    padding-top: 5%;
    padding-bottom: 5%;

}

aside ul li a {
    font-size: 1.7vw;
}

aside ul li a:hover {
    color: violet;
}

/*footer*/
footer {
    background-color: rgb(233, 231, 231);
    border-top: 0.2rem solid;
    border-image: linear-gradient(45deg, white, lightgrey) 1;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer li a {
    font-size: 1.5vw;
}

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5vw;
    gap: 5%;
}

#newsletter h3 {
    text-align: center;
    color: black;
    background-color: rgb(233, 231, 231);
    width: 20vw;
    font-size: 75%;
}

#newsletter input {
    font-size: 3vh;
    width: 20vw;
    border-radius: 5x;
    border-color: none;
}


#newsletter button {
    color: black;
    background-color: rgba(174, 204, 189, 0.5);
    width: 20vw;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px rgba(52, 55, 57, 1);
}

#newsletter button:hover {
    cursor: pointer;
    background-color: rgb(240, 188, 240);
}

#newsletter input[type='email'] {
    font-size: 2vh;
    width: 20vw;
    height: 8vh;
    border: 1px solid #D55C5F;

    box-shadow: none;
    /* Remove default red glow in Firefox */
}

#newsletter button:active {
    border-color: inset white rgb(52, 55, 57) rgb(52, 55, 57) white;
}

/*#newsletter button:disable {
    color: rgb(90, 89, 89);
    background-color: violet;
}*/

.hoverwrap{
    display: flex;
    flex-direction: column;
}

#foto2{
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px rgba(52, 55, 57, 1);
}

.fotocaption {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 15%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    visibility: visible;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
}

.fotocaption:hover {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}


/* define screen widths. When having a SMALL screen*/
@media only screen and (max-width: 800px) {
    section {
        flex-wrap: wrap;
    }

    article, #uebermich {
        width: 100%;
    }

    aside {
        width: 50%;
    }

    header {
        background-size: 80%;
    }

    #title {
        top: 40%;
    }

    #newsletter button {
        font-size: 3vh;
    }

    #menu-icon {
        visibility: visible;
    }
    header nav li {
        visibility: hidden;
    }
}
    @media only screen and (min-width: 1200px) {
        section{
            padding-left: 15%;
            padding-right: 15%;
        }
        
        aside ul {
            width: 70%;
        }

        aside ul li a {
            font-size: 1.5vw;
        }
        article {
            width: 80%;
        }
    }